body{
    overflow: hidden;
    background-color:linear-gradient(#f4f4ed,white);
}

.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    /* border: 1px solid black; */
    
    width: 370px;
    margin: auto;
    padding: 15px 20px 15px 20px ;
    background-color: #f2f2f2;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#userinput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    text-align: right;
    background: whitesmoke;
    direction: ltr;
    outline: none;
    border: none;
}

.btn{
    width: 24%;
    height: 45px;
    border-radius: 1px;
    outline: none;
    border: none;
    margin-top: 3px;
    background: whitesmoke;
}
.buttonEqual{
    width: 99.2%;
    height: 45px;
    border-radius: 1px;
    outline: none;
    border: none;
    margin-top: 3px;
    background: whitesmoke;
}

.btn:hover, .buttonEqual:hover{
    background-color: rgba(128,128,128,0.1);
    
}

@media(max-width:480px){
    .btn{
        width: 23.4%;
    }
}

@media(max-width:320px){
    .btn{
        width: 23%;
    }
}
